<div class="col-md-6">
    <h2>Listado de Notas</h2>
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let n of my_notes">{{n.id}}. {{n.title}}</li>
    </ul>
    <a class="btn btn-primary btn-block" (click)="addNote()">Nueva Nota</a>
</div>
<div class="col-md-6" *ngIf="show_form">
    <h2>Nueva Nota</h2>
    <input class="form-control" type="text" placeholder="Título de la Nota" [(ngModel)]="note.title" />
    <br />
    <textarea class="form-control" placeholder="Cuerpo de la nota" [(ngModel)]="note.body"></textarea>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <a class="btn btn-default btn-block" (click)="cancel()">Cancelar</a>
        </div>
        <div class="col-md-6">
            <a class="btn btn-primary btn-block" (click)="createNote()">Guardar Nota</a>
        </div>
    </div>
</div>